@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Archivo", sans-serif !important;
}

.container {
  max-width: 1194px !important;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}

header nav {
  padding: 28px 0px;
}
header nav ul {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0px;
  margin-left: 30px;
}
header nav ul li {
  margin: 0px 18px;
}
header nav ul li:hover a::after {
  width: 100%;
  left: 0;
}
header nav ul li a {
  text-decoration: none;
  position: relative;
  color: #5A5958;
  width: 100%;
  left: 0;
}
header nav ul li a:hover {
  color: #BB5036;
}
header nav ul li a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 4px;
  background-color: #BB5036;
  left: 50%;
  bottom: -10px;
  transition: all 0.4s ease-in-out;
}
header nav .search-box {
  margin-left: 195px;
}
header nav .search-box input {
  width: 166px;
  padding: 13px 0px;
  border: 1px solid #bdbcbb;
  border-right: 0px;
  padding-left: 16px;
  border-radius: 80px 0px 0px 80px;
  outline: none;
}
header nav .search-box input:focus {
  border: 1px solid #BB5036;
  border-right: 0px;
}
header nav .search-box button {
  width: 38px;
  background: transparent;
  padding: 13px 0px;
  height: 51.33px;
  padding-right: 15px;
  border: 1px solid #bdbcbb;
  border-radius: 0px 80px 80px 0px;
  border-left: 0px;
  color: #154747;
  margin-left: -5px;
}
header nav .user {
  display: flex;
  place-items: center;
  margin-left: 9px;
}
header nav .user img {
  margin: auto 16px;
}
header .header-main {
  background: url(../images/header-bg.jpg) center no-repeat;
  background-size: cover;
  padding-top: 154px;
  padding-bottom: 134px;
}
header .header-main h1 {
  color: #ffffff;
  font-weight: 700;
  width: 705px;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 10px;
}
header .header-main p {
  width: 669px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}
header .header-main button {
  width: 142px;
  height: 48px;
  border: 0px;
  background: #ffffff;
  border-radius: 30px;
  margin-top: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.section-1 {
  padding-top: 76px;
}
.section-1 .new-arrival {
  padding-top: 110px;
}
.section-1 .new-arrival h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: #484548;
  margin-bottom: 25px;
}
.section-1 .new-arrival p {
  font-family: #5A5958;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5A5958;
  margin-bottom: 35px;
}
.section-1 .new-arrival button {
  padding: 12px 24px;
  color: #ffffff;
  border: 0px;
  border-radius: 30px;
  background-color: #BB5036;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  transition: 200ms ease-in-out;
}
.section-1 .new-arrival button:hover {
  background-color: transparent;
  color: #BB5036;
  border: 1px solid #BB5036;
}
.section-1 .sec1-box {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(217, 217, 217, 0.4);
  border-radius: 8px;
}
.section-1 .sec1-box img {
  width: 100%;
}
.section-1 .sec1-box .sec1-box-content {
  padding: 16px 25px 24px 16px;
}
.section-1 .sec1-box .sec1-box-content h1 {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #5A5958;
}
.section-1 .sec1-box .sec1-box-content h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #484548;
}
.section-1 .sec1-box .sec1-box-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #5A5958;
  margin-bottom: 0px;
}

.section-2 {
  padding: 90px 0px 80px 0px;
}
.section-2 h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: #484548;
  margin-bottom: 48px;
}
.section-2 .sec2-box {
  text-align: center;
}
.section-2 .sec2-box figure {
  margin-bottom: 32px;
}
.section-2 .sec2-box h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #484548;
  margin-bottom: 10px;
}
.section-2 .sec2-box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #5A5958;
  margin-bottom: 24px;
}
.section-2 .sec2-box a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #484548;
}
.section-2 .sec2-box a:hover {
  color: #BB5036;
}
.section-2 .sec2-box a i {
  margin-left: 5px;
}

.section-3 {
  background: url(../images/sec3-bg.jpg) no-repeat;
  background-position: right;
  padding: 159px 0px 192px 0px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #bdbcbb;
}
.section-3 h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  color: #484548;
  word-break: 100px;
  margin-bottom: 15px;
}
.section-3 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #5A5958;
  margin-bottom: 38px;
}
.section-3 button {
  padding: 12px 24px;
  color: #ffffff;
  border: 0px;
  border-radius: 30px;
  background-color: #BB5036;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  transition: 200ms ease-in-out;
}
.section-3 button:hover {
  background-color: transparent;
  color: #BB5036;
  border: 1px solid #BB5036;
}

.section-4 {
  padding-top: 68px;
  padding-bottom: 32px;
}
.section-4 h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: #484548;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0px;
}
.section-4 button {
  padding: 12px 24px;
  color: #ffffff;
  border: 0px;
  border-radius: 30px;
  background-color: #BB5036;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  transition: 200ms ease-in-out;
}
.section-4 button:hover {
  background-color: transparent;
  color: #BB5036;
  border: 1px solid #BB5036;
}
.section-4 .sec4-box {
  margin-bottom: 48px;
}
.section-4 .sec4-box figure {
  margin-bottom: 20px;
}
.section-4 .sec4-box h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #484548;
  margin-bottom: 8px;
}
.section-4 .sec4-box p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5A5958;
  margin-bottom: 0px;
}

.section-5 {
  padding: 115px 0px 106px 0px;
  background: url(../images/sec5-bg.jpg);
  background-size: cover;
}
.section-5 h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}
.section-5 p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  width: 405px;
  margin: auto;
  margin-bottom: 35px;
}
.section-5 button {
  padding: 12px 24px;
  background: #ffffff;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #484548;
  border: 0px;
}

.section-6 {
  padding: 80px 0px 121px 0px;
}
.section-6 h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: #484548;
  text-align: center;
  margin-bottom: 50px;
}
.section-6 .sec6-box {
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(217, 217, 217, 0.4);
  border-radius: 8px;
  padding: 31px 38px 35px 32px;
  display: flex;
}
.section-6 .sec6-box .sec6-box-content {
  margin-left: 21px;
}
.section-6 .sec6-box h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #484548;
  margin-bottom: 8px;
}
.section-6 .sec6-box p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #5A5958;
  margin-bottom: 31px;
}
.section-6 .sec6-box h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #484548;
  margin-bottom: 3px;
}
.section-6 .sec6-box h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5A5958;
}

.section-7 {
  background: #f3f3f3;
  padding: 104px 0px 108px 0px;
}
.section-7 h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 45px;
  color: #484548;
  margin-bottom: 0px;
}
.section-7 .input-box {
  margin: auto 0px;
  display: flex;
  justify-content: end;
  height: 100%;
}
.section-7 .input-box input {
  width: 438px;
  height: 64px;
  border: 1px solid #bdbcbb;
  border-radius: 50px;
  margin: auto 0px;
  padding: 0px 150px 0px 30px;
  outline: none;
  color: #5A5958;
}
.section-7 .input-box input:focus {
  border: 2px solid #BB5036;
}
.section-7 .input-box input::-moz-placeholder {
  color: #5A5958;
}
.section-7 .input-box input:-ms-input-placeholder {
  color: #5A5958;
}
.section-7 .input-box input::placeholder {
  color: #5A5958;
}
.section-7 .input-box button {
  padding: 12px 24px;
  color: #ffffff;
  border: 0px;
  border-radius: 30px;
  background-color: #BB5036;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  transition: 200ms ease-in-out;
  top: 21px;
  right: 8px;
}
.section-7 .input-box button:hover {
  background-color: transparent;
  color: #BB5036;
  border: 1px solid #BB5036;
}

footer {
  padding: 65px 0px 31px 0px;
}
footer .footer-1 {
  padding-top: 9px;
}
footer .footer-1 figure {
  margin-bottom: 15px;
}
footer .footer-1 p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #5A5958;
  margin-bottom: 24px;
}
footer .footer-1 .social-media {
  font-size: 22px;
}
footer .footer-1 .social-media a {
  margin-right: 7px;
}
footer h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #484548;
}
footer ul li {
  list-style: disc;
}
footer ul a {
  font-weight: 400;
  font-size: 15px;
  line-height: 42px;
  color: #5A5958;
}
footer .footer-2 {
  padding-left: 26px;
}
footer .footer-3 {
  padding-left: 66px;
}

.disclaimer {
  padding: 29px 0px 31px 0px;
  background: #f3f3f3;
}
.disclaimer h1 {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 0px;
}
.disclaimer h1 a {
  color: #BB5036;
}

@media only screen and (min-width: 200px) and (max-width: 576px) {
  .sm-none {
    display: none !important;
  }
  header nav {
    padding: 16px 0px;
  }
  header nav .offcanvas-btn {
    background-color: transparent;
    border: 0px;
    color: #000000;
    font-size: 22px;
    margin-left: auto;
  }
  header nav ul {
    margin-left: 10px;
  }
  header nav ul li {
    margin: 18px 0px;
  }
  header .header-main {
    padding-top: 65px;
    padding-bottom: 60px;
  }
  header .header-main h1 {
    width: 100%;
    font-size: 42px;
    line-height: 46px;
  }
  header .header-main p {
    width: 100%;
    font-size: 14px;
    line-height: 26px;
  }
  header .header-main button {
    width: 120px;
    height: 40px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */